.logo{
    display:block;
    margin:auto;
    width:50px;
    height:50px;
}
body {
    background-image: linear-gradient(rgb(255,255,255),rgb(207, 204, 224));
}
.container{
    max-width: 955px;
    background-image: url('/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    margin:auto;
    height:60vh;
    overflow-y: auto;
    margin-bottom: 23px;

}

.message{
    /* background-color: aliceblue; */
    width:24 px;
    padding: 10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius:10 px;
}
.left{
    float:left;
    clear:both;

}
.right{
    float: right;
    clear:both;
}
#send-container{
    display:block;
    margin: auto;
   text-align: center;
   max-width: 985px;
   width:100px;

}
#messageInp{
    width: 92px;
    border: 2 px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height:34px;

}




